* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}



a {
    color: #fff;
}


.container {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    text-align: center;
    
    
}


.photo-box  {
    background-color: dimgrey;
    width: 200px;
    height: 200px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}




.info {
    height: 500px;
    background-color: #000;
    display: flex;
    justify-content: center;
    color: #fff;
}

































